.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-family: "Menlo", sans-serif;
}

.text-area {
  /* font-size: 16px; */
  font-family: "Menlo", sans-serif;
  padding: 10px;
  border: 1px solid #de0000;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 25px;
}

.keyboard-container {
  width: 80%;
  height: 200px;
  border: 1px solid #de0000;
  border-radius: 15px;
}

.key {
  font-size: 1em;
  width: 2em;
  height: 2em;
  margin: 0.5em;
  background-color: #dcfff8;
  border: 1px solid black;
  border-radius: 5px;
  transition: all ease-in-out 1s;
  cursor: pointer;
}
