.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-family: "Menlo", sans-serif;
}

.text-area {
  /* font-size: 16px; */
  font-family: "Menlo", sans-serif;
  padding: 10px;
  border: 1px solid #de0000;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 25px;
}

.keyboard-container {
  width: 842px;
  height: 290px;
  border: 1px solid #de0000;
  border-radius: 15px;
}

.key {
  margin: 3px;
  font-size: 15px;
  height: 50px;
  background-color: #dcfff8;
  border: 1px solid black;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.key:hover {
  background-color: #699e93;
}

.key:active,
.active {
  background-color: #9f287d;
}
